<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QuanLyMyPham.Properties.Settings.QLMPConnectionString"
            connectionString="Data Source=DESKTOP-BV4LABJ\SQLEXPRESS;Initial Catalog=QLMP;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="QuanLyMyPham.Properties.Settings.QLMyPhamConnectionString"
            connectionString="Data Source=DESKTOP-BV4LABJ\SQLEXPRESS;Initial Catalog=QLMyPham;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>